<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <!-- Deklarasi penggunaan fitur kamera -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="MealMinder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealMinderLogin"
        tools:targetApi="31">

        <activity
            android:name=".GetStarted"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewPagerAdapter"
            android:exported="false" />
        <activity
            android:name=".AturAlarm"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".forgotpassword"
            android:exported="false" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".homepage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainLayout"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".FoodDetails"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".addjadwal"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity android:name=".SearchFood" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <!-- Intent filter dihapus dari sini -->
        </activity>
            <activity android:name=".AddJadwalActivity" />
            <activity android:name=".SearchFoodActivity" />


        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true" />

        <receiver
            android:name=".Notification"
            android:enabled="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
